html {
    height: 100%;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    position: relative;
}

footer {
    min-height: 33px;
    width: 100%;
    background-color: silver;
    position: absolute;
    bottom: 0;
}

.in-menu {
    background-color: aqua;
}